h1{
	color: #ff7627
}
h1{
	text-align: center;
}

body{
	background-color:#f3f3f3;
	margin: 10px;
}

div.images {
  /*text-align: center;*/
  width: 100%;
}

.images img {
	display: block;
	margin: 0 auto;
}




p{
	text-align: center;
}

div{
	color: #ff7627;
	font-size: 20px;
}

